#achievement {
    width: 640px;
    padding: 5px;
    overflow: hidden;
}

#achv_left {
    height: 70px;
    width: 70px;
    background-image: url(../images/fst_iconframe.png);
    background-repeat: no-repeat;
    float: left;
}

#achv_img {
    
}

#achv_cntr {
    width: 500px;
    float: left;
    text-align: center;
}

#achv_right {
    float: right;
    background-image: url(../images/point_shield.png);
    background-repeat: no-repeat;
    height: 70px;
    width: 70px;
}

#achv_pts {
    text-align: center;
    position: relative;
    font-family:Georgia;
    font-size:22px;
    font-style: normal;
    color: white;
    height: auto;
    width: auto;
    top:16px;
}