<div id="achievement">
    <div id="achv_left">
        <div id="achv_img"></div>
    </div>
    <div id="achv_cntr">
        <div id="achv_title"></div>
        <div id="achv_desc"></div>
        <div id="achv_data"></div>
    </div>
    <div id="achv_right">
        <div id="achv_pts"></div>
    </div>
</div>
