<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
            <%= stylesheet_link_tag "achievements", :media => "all" %>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Achievements</title>
    </head>
    <body>
        <div class="full-list">
            <div class="info-pane">
                <div class="profile-wrapper">
                    <div class="profile">
                        <div class="profile_header">

                        </div>
                        <div class="header_break"></div>
                        <div class="achievements">
                            <div class="achv_lnav">
                                <div class="achv_bdr">
                                  <img src="http://www.wowarmory.com/_images/achievements/achv_lnav_top.jpg"></img>
                                </div>
                                <div class="category_root">
                                    <div class="">
                                        <a href="">Summary</a>
                                    </div>
                                    <div class="">
                                        <a href="">General</a>
                                    </div>
                                    <div class="">
                                        <a href="">Quests</a>
                                    </div>
                                    <div class="">
                                        <a href="">Exploration</a>
                                    </div>
                                    <div class="">
                                        <a href="">Player vs. Player</a>
                                    </div>
                                    <div class="">
                                        <a href="">Dungeons & Raids</a>
                                    </div>
                                    <div class="">
                                        <a href="">Professions</a>
                                    </div>
                                    <div class="">
                                        <a href="">Reputation</a>
                                    </div>
                                    <div class="">
                                        <a href="">World Events</a>
                                    </div>
                                    <div class="">
                                        <a href="">Feats of Strength</a>
                                    </div>
                                </div>
                                <div class="achv_bdr">
                                  <img src="http://www.wowarmory.com/_images/achievements/achv_lnav_btm.jpg"></img>
                                </div>
                            </div>
                            <div class="achieve_rcol">
                              <div class="topcurve">
                                <img src="http://www.wowarmory.com/_images/achievements/achv_rcol_top.jpg"></img>
                              </div>
                              <div class="achievements-container">
                                <div class="achievements-content">
                                  <div class="achievement"></div>
                                </div>
                              </div>
                              <div class="achv_r_btm">
                                <img src="http://www.wowarmory.com/_images/achievements/achv_rcol_btm.jpg"></img>
                              </div>
                            </div>
                            <br clear="all"></br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%= yield %>
    </body>
</html>