<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <%= stylesheet_link_tag "achievements", :media => "all" %>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Achievements</title>
    </head>
    <body>      
      <!--
      Contains a textbox for Character Name
      Contains a select box for Realm
      Contains a submit button

      It allows a user to enter in achievement search criteria
      -->
    </body>
</html>